html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: #1d2228;
}

#root {
  height: 100%;
}

#home-container {
  margin: 0 !important;
  height: 100% !important;
  width: 100vw;
  background-image: url(../assets/music-concert.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
